body{
    background-color: lightcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.result{
    background-color: lightgoldenrodyellow;
    flex-direction: row;
    padding: 30px;
    height: 700px;
    width: 700px;
    box-shadow: 1px 1px 5px black;
    border-radius: 20px;
}
.result h1{
    justify-items: center;
}
.key{
    display: inline-block;
    flex: 1;
    padding: 10px 30px 10px 30px;
}
.value{
    display: inline-block;
    flex: 1;
    margin-left: 30px;
}
.button{
    display: block;
    border: none;
    height: 40px;
    width: 150px;
    background-color: rgb(96, 96, 252);
    color: white;
    border-radius: 10px;
}
.button:hover{
    box-shadow: 1px 1px 5px black;
}
.button:active{
    opacity: 80%;
}