body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
}
.testspace{
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 700px;
    width: 700px;
    box-shadow: 1px 1px 5px black;
    border-radius: 20px;
}
.text{
    background-color: whitesmoke;
    height: 60%;
    padding: 30px;
    border-radius: 30px;
    border: black;
    border-width: 1px;
    font-size: 20px;
}
.text input{
    height: 40px;
    width: 100%;
    font-size: 20px;
}
.infoaction{
    display: flex;
    flex-direction: row;
}
.timer{
    width: 60%;
    display: inline-block;
    flex: 3;
}
.timer p{
    font-size: 60px;
}
.actions{
    display: inline-block;
    flex: 2;
}
.actionbutton{
    display: block;
    margin: 30px;
    padding: 10px 20px 10px 20px;
    background-color: rgb(96, 96, 252);
    color: white;
    border-radius: 10px;
    width: 200px;
}
.actionbutton:hover{
    box-shadow: 1px 1px 5px black;
}
.actionbutton:active{
    opacity: 80%;
}