header,main,body,footer{  /*  isko maine space hatane ke liye lagaya header aur main ke beech. IDK if worked*/
   margin: 0;
   padding: 0;

   border-top: 1px solid black;
}


header{

     background-color: cadetblue;

     border-bottom: 1px solid black;

}

#HeadingDiv{      /*this style is for the header div*/

    text-align: center;
    padding:20px;
    padding-top: 10px;

}

#TSTheading{        /*this style is for the h1 inside header div*/
    font-size: 100px;
    font-family:'Times New Roman', Times, serif;
}

.HeadingAboutTime{       /*this style is for the heading for the minutes of typing*/

    font-size: 60px;
    font-weight: bold;

}

.InfoAboutTime{      /*style for the paragraph inside the main's divs*/

    font-size: 25px;

    /* padding-top: 50px;
    padding-bottom: 30px; */

    /* margin-top:60px */

}

.ButtonAboutTime{  /*style for the button*/

    height:150px;
    width:200px;

    font-size: large;
    font-weight: bold;

    border-radius: 25%;

    margin-left: 75%;
    margin-bottom: 40px;
    margin-top: 0px;

}

.ButtonAboutTime:hover{

    height:150px;
    width:200px;

    font-size: large;
    font-weight: bold;

    border-radius: 25%;
    border: 4px solid grey;

    margin-left: 75%;
    margin-bottom: 40px;
    margin-top: 0px;

}

.TimeDiv{

    padding-left: 20px;
    padding-top: 2px;

    border-bottom: 1px solid black;

}

#TwoMinDiv{

    background-color: cyan;

}

.DivForHeadingAndButton{
    padding-top: 10px;
}

#FiveMinDiv{

    background-color: pink;

}
#TenMinDiv{

    background-color: blanchedalmond;

}

#FooterInfo{

    padding:10px;
    background-color: aliceblue;

}

footer{

    text-align: center;

}