body{

    background-color:coral ;

}
header{ /* style for the header */

    background-color:coral;

    text-align: center;

    height: 25vh;

    padding-top: 10px;
    padding-bottom:85px;

}

main{

    background-color: white;

    height: 50vh;

    padding-top: 55px;

}

#heading{ /*  style for heading div inside the header */

    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;

}

.score{ /* style for all the div containing scores */

    font-size: xxx-large;
    font-weight: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    margin-left: 20px;
    margin-bottom: 20px;

}